@import "colores";
@import "estructura";

$margenderecho: 5px;
$blue: blue; 
$fuente: 20px;
$fuenteletra: estilo;
$mostrar:true;
$ocultar:false;

$indexx :(divv:darkblue, barra:blue, precios:blue, footer:black);

@each $a, $b in $indexx {
    .#{$a} {
        background-color: $b;
    }
}
body {
    margin: 0;  
   ;}
  
.imagenn {
    transition: 5s; 
    .imagenn:hover {
      transform: rotate(360dg); }
    }
.tituloo {
    transition: 3s; 
    &:hover {
      transform: translate(10px, 10px); }
    }
.titulos {
    transition: 5s; 
    &:hover {
      transform: scale(3.1); }
    }
.divv {
    background-color: (darkblue);
    border: 2px solid black; }
    .divv a {
      color: white;
      @if $fuenteletra == verdanaa {
          font-family: Verdana, Geneva, Tahoma, sans-serif;
      } @else if $fuenteletra == ariall {
          font-family: Arial, Helvetica, sans-serif;
      } @else {
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         
      }
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      text-decoration: none; }
  
.headerr {
    background-image: linear-gradient(to bottom, white, blue);
    @if $mostrar {
        border: 2px solid black;}
    text-align: center;
    font-size: ($fuente * 2);
     p {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: ($fuente*2);
      font-style: italic; }
     }
  
.barra {
    background-color: $blue;
    display: inline-block;
    border: 3px solid black;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    margin-right: ($margenderecho * 2);   
  &:hover {
    color: white;
    border: 1px solid black;
    background-image: linear-gradient(to bottom, black, blue); }
}

.menu {
    padding: 10px 30px;
     ul {
      width: auto;   
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
      li {
        text-decoration: overline; }
      }
    }
.precios {
    background-color: $blue;
    color: black;
    @if $ocultar {
        display: block;}    
    border: 2px solid black;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 400px;
    margin-right: 400px;
    transition: 4s; 
    &:hover {
      transform: scale(2.5); }
    }  
.tituloprecio {
    background-image: linear-gradient(to right, beige, #2e22cc, black);
    border: 2px solid black;
    color: black;
    text-align: center; }
  
.descripcion {
    text-align: center;
    font-size: ($fuente*2)-25;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 3px solid black;
    background-color: #143e7c;
    color: black; }
  
.titulo {
    text-align: center;
    border: 2px solid black;
    color: black;
    background-color: beige; }
  
.footer {
    background-color: black;
    border: 2px solid black;
    margin-bottom: 0px; 
     p {
      color: white;
      text-align: center; }
     }
.formulario {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 2px solid black;
    background-color: beige;
    height: max-content;
    width: 100px;
    height: 45px;
    margin-bottom: 10px;
    font-size: ($fuente)+2;
    transition: all 2s; 
    &:hover {
      width: 200px;
      height: 70px;
      font-size: ($fuente)-2;
      border: 1px solid black; }
    }
.locales {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: radial-gradient(blue, cyan, white);
    margin: 10px;
    padding: 20px;
    border: 4px solid black;
    border-style: dashed; }
  
.productos {
    background-image: radial-gradient(blue, cyan, white);
    margin: 10px;
    padding: 20px;
    border: 4px solid black;
    border-style: groove; }
.productos--aceptar{
    @extend.productos;
    @extend.subrayado;
    background-color: lightblue;
    color: black;
    } 
.subrayado {
    text-decoration: underline;
}
.imagenproducto {
    transition: 4s;   
&:hover {
    width: 400px;
    height: 400px;
    font-size: ($fuente*2)+8;
    border: 1px solid black; }
}
.titulofotos {
    text-align: center;
    border: 4px solid black;
    background-image: $blue;
    color: black;
    margin: 10px;
    padding: 20px; }
  
.tituloproductos {
    text-align: center;
    border: 4px solid black;
    background-color: $blue;
    color: black;
    margin: 10px;
    padding: 20px; }
  
.imagenlocales {
    transition: 4s; 
    &:hover {
      transform: scale(1, 2); }
    }
.letracontacto {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }
  
.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: ($fuente)+10;
    box-shadow: 0px 1px 10px rgba 0, 0, 0, 0.3;
    z-index: 100; 
    &:hover {
      text-decoration: none;
      color: #0df053;
      background: #fff; }
    }
  
.parrafoproductos {
    font-size: ($fuente)+8;
    font-style: italic; }
  
.logohistoria {
    transform: 5s; 
    &:hover {
      transform: scale(2.2); }
    }
.marginimg {
    margin-bottom: 10px;
    margin-top: 10px; }
.distanciatitulo {
    margin-top: 10px;
  }
@mixin sizes ($width,$height) {
    height: $height;
    width: $width;
}    
.imagenprincipal {
    @include sizes(300px, 250px )

}
  